<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Spring Framework Guru</title>
</head>
<body>
<h1>TestSuite and TestScenario</h1>

<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>TestScenario</th>
    </tr>
    <tr th:each="testSuite : ${testSuite}">
        <td th:text="${testSuite.id}">123</td>
        <td th:text="${testSuite.name}">Spring in Action</td>
        <td th:text="${testSuite.testScenarior.description}">Wrox</td>
    </tr>
</table>

</body>
</html>